.carousel-caption {
  top: 25px;
}

.carousel-caption h2 {
  padding-top: 10px;
}

.carousel-caption ul {
  padding-top: 0px;
}

.carousel-item img {
  max-height: 180px;
  border-radius: 8px;
}

.carousel-caption h3 {
  font-size: 12px;
  margin-bottom: 5px;
}

.carousel-indicators {
  display: none;
}

li {
  list-style: none;
  display: block;
  font-size: 12px;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  padding-left: 0px;
  padding-top: 8px;
}
