.TopSection {
  margin-top: 5px;
}

.TopSection .todays-icon {
  max-width: 64px;
  display: block;
  margin: 0 auto;
}

.TopSection h2 {
  font-size: 32px;
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
}
